/*Navigation bar*/
.top-nav {
    width: 100%;
    height: 4em;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.top-nav__left {
    align-self: flex-end;
    width: 28%;
}

.hamburger-icon {
    display: none;
    width: 4em;
    height: 100%;
    padding: 1em;
}

.bg-green {
    background-color: var(--light-green);
}

.hamburger-dash {
    display: block;
    border-bottom: 5px solid #908e8e;
}

.black-dash {
    border-color: #111;
}


.nav-heading {
    font-size: 3em;
    font-family: "Great Vibes", cursive;
    margin-left: 12px;
    color: #fff;
}

.top-nav__item {
    display: flex;
    align-items: center;
}

.top-nav__link {
    color: #fff;
    font-size: 1.2em;
}

.top-nav__link:hover {
    background-color: var(--dark-gray);
    color: #fff;
    cursor: pointer;
}

.top-nav__clock {
    margin: 0 1em;
}

.categories-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_home-page:hover {
    background-color: var(--hover-grey);
}

.top-nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 28%;
}

.search-field button {
    background-color: #fff;
    color: #999;
    padding: 6px 6px 4px 6px;
    border-radius: 8px 0 0 8px;
    position: absolute;
    left: 0;
    z-index: 10;
}

.search-field button:hover {
    background-color: var(--light-green);
    color: #fff;
}

.search-field input {
    font-size: 1em;
    width: 90%;
    height: 32px;
    border-radius: 10px;
    padding: 0 0.2rem 0 2rem;
    color: #111;
    caret-color: #999;
}

.search-field input::-webkit-input-placeholder {
    vertical-align: bottom;
    font-size: 16px;
}

.search-field input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background-size: contain;
    background: #ff0000 url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    opacity: 0;
    pointer-events: none;
}

.search-field input:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}

.search-field input::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.btn_sign-in {
    width: 196px;
    font-size: 1.2em;
    background-color: inherit;
    color: #ddd;
}

.btn_sign-in:hover {
    background: linear-gradient(-45deg, var(--light-green), var(--dark-green));
    background-size: 400% 400%;
    color: #fff;
    animation: gradient 15s ease infinite;
}

.current {
    border-bottom: 4px solid var(--light-green);
    padding-bottom: 0.9em;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 768px) {
    .top-nav {
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        height: auto;
        z-index: 99;
        text-align: center;
    }

    .top-nav__left {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: 0;
        top: 0;
    }

    .top-nav__right {
        display: none;
        width: 100%;
        flex-direction: column-reverse;
    }

    .search-field {
        position: relative;
        padding: 1.2em 0;
    }

    .search-field button {
        left: 12px;
    }

    .nav-heading {
        align-self: center;
        margin: 0;
        padding-top: 8px;
    }

    .top-nav__item {
        width: 100%;
    }

    .top-nav__link {
        width: 100%;
    }

    .top-nav__clock {
        margin: 1em;
    }

    .categories-bar {
        display: none;
        flex-direction: column;
    }

    .btn_sign-in {
        width: 100%;
    }

    .visible {
        display: flex;
    }
}
