:root {
  --dark-gray: #444;
  --hover-grey: #908e8e;
  --light-green: #62ec00;
  --dark-green: #1a6a00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding-s {
  padding: 4px 8px;
}

.padding-m {
  padding: 8px 16px;
}

.padding-l {
  padding: 16px 32px;
}

.padding-xl {
  padding: 1.5em 3em;
}

.top-nav {
  width: 100%;
  background: #222;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
}

.top-nav__link {
  color: #fff;
  font-size: 1.2em;
}

.top-nav__link:hover {
  background-color: var(--dark-gray);
  color: #fff;
  cursor: pointer;
}

.top-nav__clock {
  margin: 0 1em;
}

.categories-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_home-page:hover {
  background-color: var(--hover-grey);
}

.btn_sign-in {
  width: 196px;
  font-size: 1.2em;
  background-color: inherit;
  color: #ddd;
}

.btn_sign-in:hover {
  background-color: var(--dark-green);
  color: #fff;
}

.current {
  border-bottom: 4px solid var(--light-green);
  padding-bottom: 0.71em;
}

.main-header {
  text-align: center;
}

.main-header__text {
  display: inline-block;
  color: #656565;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 23px;
  max-width: 640px;
  vertical-align: middle;
}

.main-header__line-left {
  display: inline-block;
  margin-right: 28px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 100%;
  width: 70px;
  height: 30px;
  background-image: url(./img/line1.png);
  vertical-align: middle;
}

.main-header__line-right {
  display: inline-block;
  margin-left: 6px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 100%;
  width: 70px;
  height: 30px;
  background-image: url(./img/line2.png);
  vertical-align: middle;
}

.product-list__item {
  border-radius: 4px;
  text-align: center;
  box-shadow: 5px 10px 10px #888888;
  margin: 10px;
}

.product-list__item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.product-container {
  width: 969px;
  margin: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

main {
  margin-top: 7.5em;
}

.footer {
  background-color: #111;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.footer__copyright {
  color: var(--hover-grey);
  width: 417px;
  font-size: 12px;
}

.footer-icon__conteiner {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 417px;
}

.footer-icon__paragraf {
  font-size: 15px;
  color: var(--hover-grey);
}

.footer-icon {
  font-size: 25px;
  color: var(--hover-grey);
  transition: 0.5s;
}

.footer-icon:hover i {
  transform: scale(1.3);
  color: var(--dark-gray);
}

.main-contact {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.contact-icon {
  font-size: 2rem;
  color: var(--hover-grey);
  text-align: center;
  margin-bottom: 70px;
  width: 170px;
}

.contact-paragraph {
  font-size: 1rem;
}

.contact-name {
  font-size: 1.2rem;
}

.main-icon-parent {
  display: flex;
  justify-content: space-around;
}

.main-icon {
  font-size: 1rem;
}

.main-icon i:hover {
  transform: scale(1.5);
  color: var(--dark-gray);
}
