:root {
  --dark-gray: #222;
  --hover-grey: #908e8e;
  --light-green: #448e4e;
  --dark-green: #014219;
  --bg-color: #f6f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding-s {
  padding: 4px 8px;
}

.padding-m {
  padding: 8px 16px;
}

.padding-l {
  padding: 23px 32px;
}

.padding-xl {
  padding: 1.5em 3em;
}

.margin-s {
  margin: 1em 0;
}

.margin-m {
  margin: 2em 0;
}

/*Navigation bar*/
.top-nav {
  width: 100%;
  height: 4em;
  background: #111;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-heading {
  font-size: 3em;
  font-family: 'Great Vibes', cursive;
  padding: 10px 0;
  margin-left: 12px;
  color: #fff;
}

.top-nav__item {
  display: flex;
  align-items: center;
}

.top-nav__link {
  color: #fff;
  font-size: 1.2em;
}

.top-nav__link:hover {
  background-color: var(--dark-gray);
  color: #fff;
  cursor: pointer;
}

.top-nav__clock {
  margin: 0 1em;
}

.categories-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_home-page:hover {
  background-color: var(--hover-grey);
}

.btn_sign-in {
  width: 196px;
  font-size: 1.2em;
  background-color: inherit;
  color: #ddd;
}

.btn_sign-in:hover {
  background-color: var(--dark-green);
  color: #fff;
}

.current {
  border-bottom: 4px solid var(--light-green);
  padding-bottom: 0.9em;
}

/*home page header*/

.header-img {
  position: relative;
  margin-top: 4em;
}

.header-img img {
  width: 100%;
}

.brands-wrapper {
  width: 75%;
  margin: 2.5em auto;
}

.brand-info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.brand-info:nth-child(even) {
  align-self: flex-end;
}

.brand-info:nth-child(odd) {
  align-self: flex-start;
}

.brand-info {
  display: flex;
  width: 90%;
  box-shadow: 3px 3px 17px 6px #888888;
}

.brand-info__img {
  width: 40%;
  display: flex;
  align-items: center;
}

.border-l {
  border-left: 2px solid #908e8e;
}
.border-r {
  border-right: 2px solid #908e8e;
}

.brand-info__img img {
  width: 100%;
}

.brand-info__text {
  text-align: center;
  width: 60%;
}

.brand-header {
  display: inline-block;
  font-size: 1.6em;
  margin: 1em 0;
  border-top: 3px solid #111;
  border-bottom: 3px solid #111;
}

.brand-description {
  text-align: center;
  margin: 1em 3em;
  color: #908e8e;
  font-size: 0.9em;
}

.brand-info__more-info {
  display: inline-block;
  background-color: #111;
  color: #fff;
  margin: 1em 2em;
  padding: 0.5em 1em;
  border: 3px solid #000;
  border-radius: 40px;
  transition: 0.3s;
}

.brand-info__more-info:hover {
  background-color: #fff;
  color: #111;
}

/* Special offers */

.special-offers {
  position: relative;
}

.special-sticker {
  position: absolute;
  left: -31px;
  top: 23px;
  padding: 0.2em 2em;
  z-index: 10;
  transform: rotate(-45deg);
  background-color: rgb(177, 2, 2);
  color: #fff;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 3px;
  -webkit-clip-path: polygon(21% 0, 0 100%, 100% 100%, 100% 103%, 78% 0);
  clip-path: polygon(21% 0, 0 100%, 100% 100%, 100% 103%, 78% 0);
}

/*buy-page main*/

.main__buy--page {
  margin-top: 7.5em;
}

.main-header {
  text-align: center;
}

.main-header__text {
  display: inline-block;
  color: #656565;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 23px;
  max-width: 640px;
  vertical-align: middle;
}

.main-header__line-left {
  display: inline-block;
  margin-right: 28px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 100%;
  width: 70px;
  height: 30px;
  background-image: url(./img/logo/line1.png);
  vertical-align: middle;
}

.main-header__line-right {
  display: inline-block;
  margin-left: 6px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 100%;
  width: 70px;
  height: 30px;
  background-image: url(./img/logo/line2.png);
  vertical-align: middle;
}

.product-list__item {
  border-radius: 4px;
  text-align: center;
  box-shadow: 5px 10px 10px #888888;
  margin: 10px;
  transition: 0.3s;
}

.product-list__item:hover {
  transform: scale(1.05);
  /*transition: 0.3s;*/
}

.product-container {
  width: 969px;
  margin: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  list-style: none;
}

.footer {
  background-color: #111;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-top: 3em;
}

.footer__copyright {
  color: var(--hover-grey);
  width: 417px;
  font-size: 12px;
}

.footer-icon__container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 417px;
}

.footer-icon__paragraph {
  font-size: 15px;
  color: var(--hover-grey);
}

.footer-icon {
  font-size: 25px;
  color: var(--hover-grey);
  transition: 0.5s;
}

.footer-icon:hover i {
  transform: scale(1.3);
  color: var(--dark-gray);
}

.main-contact {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.contact-icon {
  font-size: 2rem;
  color: var(--hover-grey);
  text-align: center;
  margin-bottom: 70px;
  width: 170px;
}

.contact-paragraph {
  font-size: 1rem;
}

.contact-name {
  font-size: 1.2rem;
}

.main-icon-parent {
  display: flex;
  justify-content: space-around;
}

.main-icon {
  font-size: 1rem;
}

.main-icon i:hover {
  transform: scale(1.5);
  color: var(--dark-gray);
}

/* Gallery */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 128px 4px 64px 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 16%;
  max-width: 16.66%;
  padding: 0 8px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.img {
  box-shadow: 5px 10px 10px #888888;
  cursor: pointer;
}

.img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
