* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  outline: none;
}

.button {
  border: none;
  outline: none;
}

.top-nav {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-small {
  padding: 4px 8px;
}

.padding-mid {
  padding: 8px 16px;
}

.padding-large {
  padding: 16px 32px;
}

.categories-bar {
  width: 400px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.home-page:hover {
  background-color: #999;
}

.btn_sign-in {
  font-size: inherit;
  height: 100%;
  background-color: #9c56bb;
}
